<div class="container pt-3">
  <h1>Chat-UI <i class="bi bi-chat-dots"></i></h1>

    <div class="chat-area  mt-4">
      <app-chat-window [messages]="messages" [me]="from"></app-chat-window>

      <div class="message-input">
        <textarea
          class="form-control"
          cols="30"
          rows="5"
          placeholder="Enter message..."
          [(ngModel)]="message"
        ></textarea>
        <button class="btn btn-success mx-2" (click)="sendMessage()">
          Send
        </button>
      </div>
  </div>
</div>
