<div class="container">

    <div>
        <div class="row">
            <div class="col-lg-4">
                <app-chat-list (onSelect)="connectWithOtherPeer($event)"></app-chat-list>
            </div>
            <div class="col-lg-8 chat-area">
                <app-chat-window></app-chat-window>
    
                <div class="message-input">
                    <textarea class="form-control" cols="30" rows="5" placeholder="Enter message..."></textarea>
                    <button class="btn btn-success mx-3">Send</button>
                </div>
            </div>
        </div>
    </div>


</div>