:host {
    display: block;
    height: calc(100% - 80px);
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 5px;
    }
}

.message {
    max-width: 50%;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6aebc6;
    margin: 10px;
}