.chat-window {
    display: block;
    height: calc(85vh - 72px);
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 5px;
    }
}

.toast {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    background-color: #00000036;
    border: none;
}

.message {
    max-width: 50%;
}

.from {
    display: grid;
    place-items: center;
    height: fit-content;

    .from-label {
        font-weight: 400;
        font-size: 13px;
        margin-top: -11px;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6aebc6;
    margin: 10px;
}
