<div>
    <ng-container >
        <ng-container *ngFor="let message of messages; trackBy: indexFn">
            <div class="others d-flex justify-content-start" *ngIf="message?.from !== peerId">
                <div class="avatar"></div>
                <div class="message shadow-lg p-3 mb-3 bg-body rounded">
                    <p>{{ message?.message }}</p>
                </div>
            </div>
        
            <div class="me d-flex justify-content-end" *ngIf="message?.from === peerId">
                <div class="message shadow-lg p-3 mb-3 bg-body rounded">
                    <p>{{ message?.message }}</p>
                </div>
                <div class="avatar"></div>
            </div>
        </ng-container>
       
    </ng-container>
    
</div>