<div class="chat-window" (scroll)="onScroll($event)" #chatWindow>
  <ngb-toast *ngIf="isLoading" [autohide]="false"> {{ loadingMessage }} </ngb-toast>

  <ng-container *ngFor="let message of messages.slice(CHAT_SIZE); trackBy: indexFn">

    <!-- Message from thers -->
    <div class="item d-flex justify-content-start mb-4" *ngIf="message?.from !== me">
      
      <div class="from">
        <div class="avatar"></div>
        <span class="from-label">{{ message?.from | titlecase }}</span>
      </div>

      <div class="message">
        <div class="shadow-lg p-3 bg-body rounded">
          <p>{{ message?.message }}</p>
        </div>
      </div>
     
    </div>

    <!-- Message from me -->
    <div class="item d-flex justify-content-end mb-4" *ngIf="message?.from === me">
      <div class="message shadow-lg p-3 bg-body rounded">
        <p>{{ message?.message }}</p>
      </div>
      <div class="avatar"></div>
    </div>

  </ng-container>
</div>
